block content

    h1 Ideas

    ul
        li Tag hygiene - use the metastore to find group 2s under wrong G1s etc.  Find cost centers that have been allocated to wrong G2 / g3
        li Look for power management tag if not present add cost tech debt
        li Policy compliance by grouping - get count of compliant and non compliant resources by tag
        li automate policy build out and migration for tags based on metastore hierarchy
        li Count of manual vs automated deployments - how many users vs how many SPNs performed changes
